* {
    text-align: left;
    color: rgba(245, 246, 237, 0.653);
    font-family: sans-serif;
  }

.fadeline {
    margin: 10px 0;
    position: relative;
        bottom: 0;
        left: 0;
        content: "TEST";
        width: 100%;
        height: 4px;
        display:inline;
        background: radial-gradient(rgba(142, 159, 159, 0.653), rgba(10, 11, 46, 1)  )                
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: rgba(164, 183, 183, 0.653);
    text-align: top;
    height: 1.5em;
    opacity: 1;
    
    
      background: linear-gradient(rgba(142, 159, 159, 0.653), rgba(4, 4, 17, 1));
      position: relative;
      left: 0;
      top: 0%;
      width: 100%;
      height: 10px;
}

  
    
  

.navbar-brand {
    font-family:cursive;
    font-size:xx-large;
}


.container {
    background-color: #0a0b2e;
    position:relative;
    width: 90%;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #181b6d;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgb(24, 27, 109), rgb(13, 15, 64));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(24, 27, 109, 1), rgba(13, 15, 64,1))
}

.gradient-custom2 {
    /* fallback for old browsers */
    background: #0a0b2e;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(13, 15, 64, 1), rgb(11, 11, 49));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(13, 15, 64, 1), rgb(11, 11, 49))
}

.gradient-custom3 {
  /* fallback for old browsers */
  background: #0a0b2e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(11, 11, 49, 1), rgb(4, 4, 17));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(11, 11, 49, 1), rgb(4, 4, 17))
}

.gradient-custom4 {
  /* fallback for old browsers */
  background: #0a0b2e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(4, 4, 17, 1), rgb(4, 4, 17));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(4, 4, 17, 1), rgb(4, 4, 17))
}

.image {
  display: block;
  width: 60%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000bd;
}

.container:hover .overlay {
  opacity: 1;
}

.text-hover {
  color: rgb(223, 216, 216);
  font-family: Monaco;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-sans {
  color: rgba(245, 246, 237, 0.653);
  font-family: sans-serif;
  font-size: 20px;
  position: relative
}
.height200 {
  height: 200px;
}
.height225 {
  height: 225px;
}
.height135 {
  height: 135px;
}

.ml-1 {
  margin-left: 14;
}

.pad-left {
  padding-left: 80px;
}