* {
    text-align: left;
    color: rgba(170, 190, 190, 0.653);
    font-family: sans-serif;
  }

.fadeline {
    margin: 20px 0;
    position: relative;
        bottom: 0;
        left: 0;
        content: "TEST";
        width: 100%;
        height: 4px;
        display:inline;
        background: radial-gradient(rgba(142, 159, 159, 0.653), rgba(10, 11, 46, 1)  )                
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: rgba(164, 183, 183, 0.653);
    text-align: top;
    height: 1.5em;
    opacity: 1;
    
    
      background: linear-gradient(rgba(142, 159, 159, 0.653), rgba(4, 4, 17, 1));
      position: relative;
      left: 0;
      top: 0%;
      width: 100%;
      height: 10px;
}

  
    
  

.navbar-brand {
    font-family:cursive;
    font-size:xx-large;
}

.container {
    background-color: #0a0b2e;
    position:relative;
    width: 90%;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #181b6d;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(24, 27, 109, 1), rgba(10, 11, 46, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(24, 27, 109, 1), rgba(10, 11, 46, 1))
}

.gradient-custom2 {
    /* fallback for old browsers */
    background: #0a0b2e;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(10, 11, 46, 1), rgb(4, 4, 17));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(10, 11, 46, 1), rgb(4, 4, 17))
}

.image {
  display:block;
width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000bd;
}

.container:hover .overlay {
  opacity: 1;
}

.text-hover {
  color: rgb(134, 129, 129);
  font-family: Calibri;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-monaco {
  color: rgb(176, 186, 186);
  font-family: sans-serif;
  font-size: 18px;
  position: absolute;
}
.height250 {
  height: 250px;
}